# Copy this file to terraform.tfvars and fill in your values.
# Never commit terraform.tfvars to git.

aws_region          = "us-east-1"
app_name            = "shoe-store"
ecr_repository_name = "shoe-store"
image_tag           = "latest"

container_port = 5000
cpu            = 512   # 0.5 vCPU
memory         = 1024  # 1 GB

desired_count = 1

ssm_prefix    = "/shoe-store"

# Non-sensitive env vars
node_env      = "production"
aws_s3_bucket = "shoes-store-images"
smtp_host     = "smtp.gmail.com"
smtp_port     = "587"
smtp_from     = "noreply@shoesstore.com"
use_aws_sns   = "false"
